In [4]:
#atribuição de valores

#<indentificador>=<expressão>

cateto_a = 4
endereco = id(cateto_a)
print(endereco)

10914592

In [5]:
hexa_endereco = hex(endereco)
print(hexa_endereco)

0xa68b20

cateto_ a            0xa68b20 -----> 4

In [6]:
# a = 10
a = 10
print(a)
print(id(a))

10
10914784

Variável                                         Objeto
   a         ------------------------------>       10
                      Referência

In [7]:
b = 10
print(b)
print(id(b))

10
10914784

Variável                                         Objeto
   a         ------------------------------>       10
                      Referência              
   b         ---------------------------------------

In [8]:
# verificando se os id de a e b são os mesmos
id(a) == id(b)

True

In [9]:
a = 10
b = a
print(a)
print(b)

10
10

Variável                                         Objeto
   a         ------------------------------>       10
                      Referência              
   b         ---------------------------------------

In [10]:
# verificando se os id de a e b são os mesmos
id(a) == id(b)

True

In [11]:
# atribuindo novos valores
a = 10
b = 10
print(a)
print(b)
id(a) == id(b)
b = 30
print(b)
id(a) == id(b)

10
10
30

False

Variável                                         Objeto
   a         ------------------------------>       10
                      Referência              
   b         ------------------------------>       30

In [12]:
# atribuição de valores
x = 1
endereco = id(x)
print(hex(endereco))

0xa68ac0

In [13]:
# atribuindo valores
x = x + 1
endereco = id(x)
print(hex(endereco))

0xa68ae0

Garbage Collector


x    0xa68ac0 ----->  1 + 1  )
          -           -
           -         -
            -       -
             -     -
                2

Numéricos

In [14]:
# demonstrando dados numéricos
a = 5
print("Tipo de dados de a: ", type(a))

b = 5.0
print("\nTipo de dados de b: ", type(b))

c = 2 + 4j
print("\nTipo de dados de c: ", type(c))

Tipo de dados de a:  <class 'int'>

Tipo de dados de b:  <class 'float'>

Tipo de dados de c:  <class 'complex'>

String

In [15]:
# Criando uma string

string1 = 'Fundamentos de Python no IGTI'
print("String com aspas simples: ")
print(string1)

String com aspas simples:
Fundamentos de Python no IGTI

In [16]:
# String com aspas duplas

string1 = "Fundamentos de Python IGTI"
print("String com aspas duplas: ")
print(string1)
print(type(string1))

String com aspas duplas:
Fundamentos de Python IGTI
<class 'str'>

In [17]:
# String com aspas triplas

string1 = '''Fundamentos de Python no IGTI'''
print("String com aspas triplas: ")
print(string1)
print(type(string1))

String com aspas triplas:
Fundamentos de Python no IGTI
<class 'str'>

In [18]:
# Aspas triplas em multiplas linhas

string1 = '''Fundamentos de Python
            do
            IGTI'''
print("String com multiplas linha: ")
print(string1)

String com multiplas linha:
Fundamentos de Python
            do
            IGTI

Acessando Elementos de uma String

  I   N   S   T  I   T  U  T  O  I  G  T  I
  0   1   2   3  4   5  6  7  8  9  10 11 12
-13 -12 -11 -10 -9 - 8 -7 -6 -5 -4 -3 -2 -1

In [19]:
# Criando a String

string1 = "InstitutoIGTI"
print("String: ")
print(string1)

String:
InstitutoIGTI

In [20]:
# Print do primeiro caracter

print("O primeiro caracter da string é: ")
print(string1[0])

O primeiro caracter da string é:
I

In [21]:
# Printing último caracter

print("O último caracter")
print(string1[-1])

O último caracter
I

Deletenado ou realizando o update de uma String

In [22]:
# Criando a nossa string

string1 = "Programação Python no IGIT"
print("String inicial: ")
print(string1)

String inicial:
Programação Python no IGIT

In [23]:
# Realizando o update de um caracter da String 1

print('Caracter da posição 2: ', string1[2])
string1[2] = 'p'
print("Realizando o update para o caracter de posição (indice) [2]")
print(string1)

Caracter da posição 2:  o

TypeError: ignored

In [ ]:
# Deletando um caracter da String

del string1[2]
print("Deletando o caracter da posição 2: ")
print(string1)

Utilizando 'aspas' em Strings

In [ ]:
# String inicial

string1 = '''O IGTI possui "bootcamp" e "MBA" em TI'''
print("String inicial com aspas triplas: ")
print(string1)

In [ ]:
# Realizando o print das aspas simples

string1 = 'O IGTI possui "bootcamp" e \'MBA\'em TI'
print("Realizando o print da string com aspas simples")
print(string1)

In [ ]:
# Realizando o print de aspas duplas

string1 = "O IGTI possui \"bootcamp\" e 'MBA' em TI"
print("Realizando o print da string com aspas duplas: ")
print(string1)

In [ ]:
# Cria um número inteiro

n_inteiro = 100
type(n_inteiro)

In [ ]:
# Transforma o número inteiro em string

string_n_inteiro = str(n_inteiro)
type(string_n_inteiro)

In [ ]:
print(int(string_n_inteiro))
type(int(string_n_inteiro))

Listas

1. Mutáveis
2. Podem possuir vários tipos de elementos
3. Ordenadas
4. Começam com o indice [0]

In [ ]:
# Criando uma lista em python

lista = []
print("Lista vazia: ")
print(lista)
print(type(lista))

In [ ]:
# Lista com uma string

lista = ['IGTI']
print("Lista de uma string: ")
print(lista)

In [ ]:
# Lista com vários valores

lista = ["IGTI", "MBA", "Python"]
print("Lista com várias string: ")
print(lista[0])
print(lista[2])

In [ ]:
# Criando lista de listas

lista = [['IGTI', 'MBA'], ['Python']]
print("Lista com várias dimensões: ")
print(lista)

In [ ]:
# Criando uma lista com tipos diferentes de dados

lista = [['IGTI', 'MBA'], 123, 'Python']
print("Lista com várias dimensões e valores: ")
print(lista)

Adicionando elementos em uma lista

          final
[1, 2, 3, 4]
           5



1. Adiciona um elemento de cada vez
2. Adiciona ao final da lista

In [ ]:
# Adicionando elemento com append

lista = [1, 2, 3, 4]
print('Lista numérica: ', lista)

In [ ]:
# Adicionando elemento com append

lista.append(5)
print('Lista numérica: ', lista)

In [ ]:
# Adicionando lelemento com append

lista.append('IGTI')
print('Lista numérica: ', lista)

Adicionando elemento com insert()

Azul     Verde     Vermelho     Amarelo
[0]       [1]         [2]         [3]


.lista.insert(posicao,valor)

In [ ]:
# Cria a lista vazia

lista = []
print("Lista vazia: ")
print(lista)

In [ ]:
# Adiciona elementos para a lista com append

lista.append('Azul')
lista.append('Verde')
lista.append('Vermelho')
lista.append('Amarelo')
print("Lista após adicionar as cores: ")
print(lista)

In [ ]:
# Adicionando elemento em uma posição especifica

lista.insert(2, 'Preto')
lista.insert(0, 'Rosa')
print("Lista após adicionar elementos em uma posição específica: ")
print(lista)

Adicionando elementos com o método extend()

. Adiciona vários elementos de uma vez (diferente do append())

In [ ]:
# Adicionando vários elementos com a função extebd (#008000 - verde) (#0008B - azul)

lista.extend(['Branco', '#008000', '#00008B'])
print("Lista após aplicar a operação extend(): ")
print(lista)

Acessando elementos em uma lista


1. Acessa com [indice]
2. Indice deve ser inteiro
3. Lista aninhadas devem ser acessadas através de indices aninhados

In [ ]:
# Criando uma lista com multiplos valores

lista = ["Azul", "Verde", "Vermelho", "Amarelo"]

# Acessando um elemento da lista

print("Acessando elementos na lista")
print(lista[0])
print(lista[2])

In [ ]:
# Acessando elementos no "sentido contrário"

print("Acessando elementos no sentido contrário: ")

# Último elemento da lista

print(lista[-1])

# Penúltimo elemento da lista

print(lista[-2])

In [ ]:
# Acessando valores em listas aninhadas
# Criando uma lista aninhada

lista = ["Azul", "Verde", "Vermelho", "Amarelo", [100, 200, 300, 400]]

# Acessando o elemento 200 da lista

print("Acessando elementos na lista aninhada")
print(lista[4][1])

Removendo elementos de uma lista

In [ ]:
# Criando uma lista com alguns elementos

lista = [1, 2, 3, 4, 5, 6,
         7, 8, 9, 10, 11, 12,
         'Azul', 'Verde', 35, 'Amarelo']
print("Lista inicial: ")
print(lista)

In [ ]:
# Removendo elementos utilizando o remove

lista.remove(5)
lista.remove('Verde')
print("Lista após remover os elementos: ")
print(lista)

In [ ]:
# Removendo o último elemento com o pop()

lista.pop()
print("Lista após utilizar o pop(): ")
print(lista)

In [ ]:
# Removendo um elemento de uma posição específica com pop()

lista.pop(11)
print("Lista após remover um elemento específico: ")
print(lista)

Tuplas


. Imutáveis
. Podem possuir vários tipos de elementos

In [ ]:
# Criando um tupla vazia

tupla_1 = ()
print("Tupla vazia: ")
print(tupla_1)
print(type(tupla_1))

In [ ]:
# Criando um tupla com string

tupla_1 = ('IGTI', 'Python')
print("Tupla utilizando string: ")
print(tupla_1)

In [ ]:
# Criando uma tupla através de um lista

lista_1 = [1, 2, 4, 5, 6]
print(type(lista_1))
print("Tupla através de uma lista: ")
print(tuple(lista_1))
print(type(tuple(lista_1)))

In [ ]:
# Criando uma tupla através da palatra tuple()

tupla_1 = tuple('IGTI')
print("Tupla criada através da função tuple: ")
print(tupla_1)

In [ ]:
# Criando tuplas aninhadas

tupla_1 = (0, 1, 2, 3)
tupla_2 = ('python', 'IGTI')
tupla_3 = (tupla_1, tupla_2)
print("Tuplas aninhadas: ")
print(tupla_3)

Acessando elementos em uma tupla

In [ ]:
# Criando uma tupla através da função

tupla_1 = tuple([1, 2, 3, 4, 5])

# Acessando o elemento através do índice

print("Primeiro elemento da tupla")
print(tupla_1[0])

# Acessando o último elemento da tupla

print("Último elemento da tupla")
print(tupla_1[-1])

print("Encontrado o penultimo elemendo da tupla")
print(tupla_1[-2])

Deletando e atualizando elementos de uma tupla

In [ ]:
# Definindo uma tupla

tupla_1 = tuple([1, 2, 3, 4, 5])
print("Tupla inicial")
print(tupla_1)

In [ ]:
# Atualizando um valor da tupla

tupla_1[0] = -1
print(tupla_1)

In [ ]:
# Deletando um elemento de uma tupla

del tupla_1[2]
print(tupla_1)

Valores Booleanos

Verdadeiro ou Falso

In [ ]:
# Mostrando os tipos de dados booleanos

print(type(True)) # verdadeiro
print(type(False))

Conjuntos



A               B                      A                B
      União                                Interseção


                                                                A={1,2,3}
                                                                B={3,4,5,}


A               B                      A                B
    Diferença                          Diferença Simétrica




. Desordenada
. Mutável
. Sem elementos duplicados

In [ ]:
# Criando um conjunto - "set" em python

conjunto_A = set()
print("Conjunto vazio: ")
print(conjunto_A)
print(type(conjunto_A))

In [ ]:
# Criando um conjunto via uma string

conjunto_A = set("Python")
print("Conjunto com uma string: ")
print(conjunto_A)

In [ ]:
# Criando utilizando uma lista

conjunto_A = set(["IGTI", "MBA", "IGTI"]) # Como pode ver, na criação podem ter elementos iguais, mas o conjunto não contém os duplicados
print("Conjunto via lista: ")
print(conjunto_A)

In [ ]:
# Criando um conjunto com vários diferentes tipos

conjunto_A = set([1, 2, 'IGTI', 4, 'BOOTCAMP', 6, 'MBA'])
print("Conjunto com valores de tipos diferentes")
print(conjunto_A)

Adicionando elementos a um conjunto

In [ ]:
# Criando um conjunto vazio

conjunto_A = set()
print("Conjunto vazio: ")
print(conjunto_A)

In [ ]:
# Adicionando elemento a um conjunto com o add() - adiciona apenas um elemento de cada vez

conjunto_A.add(8)
conjunto_A.add(9)
conjunto_A.add((6, 7))
print("Conjunto após a adição de valores: ")
print(conjunto_A)

In [ ]:
# Adicionando elementos através da função update

conjunto_A.update([10, 11]) # Adicionando uma lista de elementos
print("Adicionando valores ao conjunto com a função update(): ")
print(conjunto_A)

Acessando elementos em um conjuto


   . Como não são ordenados, não podemos acessar via indice

In [ ]:
# Criando um conjunto

conjunto_A = set(["IGTI", "BOOTCAMP", "PYTHON"])
print("Conjunto inicial: ")
print(conjunto_A)

In [ ]:
# Acessando elementos através de um loop

print("Elementos do conjunto A: ")
for i in conjunto_A:
  print(i, end = " ")

In [ ]:
# Verificando se um elemento percente ao conjunto

print("IGTI" in conjunto_A)

Removendo elementos de um conjunto

In [26]:
# Criando um conjunto

conjunto_A = set([1, 2, 3, 4, 5, 6,
                  7, 8, 9, 10, 11, 12])
print("Conjunto inicial: ")
print(conjunto_A)

Conjunto inicial:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [27]:
# Removendo elementos um valor com a função remove()

conjunto_A.remove(5)
conjunto_A.remove(6)
print("Conjunto após a remoção com a função remove(): ")
print(conjunto_A)

Conjunto após a remoção com a função remove():
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [28]:
# Removendo com o método discard()

conjunto_A.discard(8)
conjunto_A.discard(9)
print("Conjunto após a remoção com a função remove(): ")
print(conjunto_A)

Conjunto após a remoção com a função remove():
{1, 2, 3, 4, 7, 10, 11, 12}

In [29]:
# Removendo elementos de um conjunto com o método pop()

conjunto_A.pop()
print("Removendo elemento com pop(): ")
print(conjunto_A)

Removendo elemento com pop():
{2, 3, 4, 7, 10, 11, 12}

In [30]:
# Limpando o conjunto com o clear

conjunto_A.clear()
print("Removendo todos os elementos do conjunto com clear(): ")
print(conjunto_A)

Removendo todos os elementos do conjunto com clear():
set()

Operações com conjuntos

A                   B                      A                    B
     União                                     Interseção

                                                                    A = {1,2,3}
                                                                    B = {3,4,5}

A                   B                      A                    B
     Diferença                               Diferença Simétrica

In [32]:
# Definindo os conjunto

conjunto_A = set([1, 2, 3])
conjunto_B = set([3, 4, 5])
print('Conjunto A: ', conjunto_A)
print('Conjunto B: ', conjunto_B)

Conjunto A:  {1, 2, 3}
Conjunto B:  {3, 4, 5}

In [34]:
# União

uniao = conjunto_A.union(conjunto_B)
print('Interseção A e B: ', uniao)

Interseção A e B:  {1, 2, 3, 4, 5}

In [35]:
# Interseção

intersecao = conjunto_A.intersection(conjunto_B)
print('Interseção A e B: ', intersecao)

Interseção A e B:  {3}

In [36]:
# Diferença

diferenca = conjunto_A.difference(conjunto_B)
print('Interseção A e B: ', diferenca)

Interseção A e B:  {1, 2}

In [37]:
# Diferença simétrica

diferenca_simetrica = conjunto_A.symmetric_difference(conjunto_B)
print('Diferença simétrica entre A e B: ', diferenca_simetrica)

Diferença simétrica entre A e B:  {1, 2, 4, 5}

Dicionários


Chave                               Valor

'a'-------------------------------> 'Azul'

'v'-------------------------------> 'Verde'

'r'-------------------------------> 'Rosa'

1. Não ordenado
2. Armazena o par chave:valor
3. As chaves não podem ser repetidas
4. Podem armazenar vários tipos de valores

In [39]:
# Criando um dicionário vazio

dicionario = {}
print("Dicionário vazio: ")
print(dicionario)
print(type(dicionario))

Dicionário vazio:
{}
<class 'dict'>

In [40]:
# Criando um dicionário com chaves inteiras

dicionario = {1: 'IGTI', 2: 'BOOTCAMP', 3: 'IGTI'}
print("Dicionário com chaves inteiras: ")
print(dicionario)

Dicionário com chaves inteiras:
{1: 'IGTI', 2: 'BOOTCAMP', 3: 'IGTI'}

In [41]:
# Criando dicionário com vários tipos de chaves e valores

dicionario = {'escola': 'IGTI', 1: [1, 2, 3, 4]}
print("Dicionário com diferentes tipos de chaves e valores: ")
print(dicionario)

Dicionário com diferentes tipos de chaves e valores:
{'escola': 'IGTI', 1: [1, 2, 3, 4]}

In [42]:
# Criando dicionarios com o dict

dicionario = dict({1: 'IGTI', 2: 'BOOTCAMP', 3: 'IGTI'})
print("Criando dicionário com o método dict(): ")
print(dicionario)

Criando dicionário com o método dict():
{1: 'IGTI', 2: 'BOOTCAMP', 3: 'IGTI'}

In [43]:
# Criando dicionário com estilo (chave, valor)

dicionario = dict([(1, 'IGTI'), (2, 'BOOTCAMP')])
print("Criando dicionário com 'par' de dados: ")
print(dicionario)

Criando dicionário com 'par' de dados:
{1: 'IGTI', 2: 'BOOTCAMP'}

Adicionando elementos a um dicionário

In [44]:
# Criando um dicionário vazio

dicionario = {}
print("Dicionário vazio: ")
print(dicionario)

Dicionário vazio:
{}

In [45]:
# Adicionando um elemento de cada vez

dicionario[0] = 'IGTI'
dicionario[2] = 'BOOTCAMP'
dicionario[3] = 1
print("Adicionando 3 elementos a um dicionário: ")
print(dicionario)

Adicionando 3 elementos a um dicionário:
{0: 'IGTI', 2: 'BOOTCAMP', 3: 1}

In [46]:
# Realizando a atualização de um elemento em um dicionário

dicionario[2] = 'MBA'
print("Atualizando o valor com chave [2] no dicionário: ")
print(dicionario)

Atualizando o valor com chave [2] no dicionário:
{0: 'IGTI', 2: 'MBA', 3: 1}

Acessando elementos em um dicionário

In [47]:
# Criando um dicionário

dicionario = {'a': 'Azul', 'v': 'Verde', 'r': 'Rosa'}

In [48]:
# Acessando um elemento através da chave

print("Acessando um elemento através da chave: ")
print(dicionario['a'])

Acessando um elemento através da chave:
Azul

In [49]:
# Acesando um elemento através do método get()

print("Acessando um elemento através do get: ")
print(dicionario.get('v'))

Acessando um elemento através do get:
Verde

Removendo um elemento de um dicionário

In [50]:
# Initial Dictionary

dicionario = { 1 : 'IGTI', 2 : 'BOOTCAMP', 3 : 'MBA',
              'brasil' : {'v' : 'Verde', 'a' : 'Azul', 'am' : 'Amarelo'},
              'minas' : {'vm' : 'vermelha', 'b' : 'Branca'}}

print("Dicionário inicial: ")
print(dicionario)

Dicionário inicial:
{1: 'IGTI', 2: 'BOOTCAMP', 3: 'MBA', 'brasil': {'v': 'Verde', 'a': 'Azul', 'am': 'Amarelo'}, 'minas': {'vm': 'vermelha', 'b': 'Branca'}}

In [51]:
# Deletando um valor pela chave

del dicionario[3]
print("Deletando um elemento via chave: ")
print(dicionario)

Deletando um elemento via chave:
{1: 'IGTI', 2: 'BOOTCAMP', 'brasil': {'v': 'Verde', 'a': 'Azul', 'am': 'Amarelo'}, 'minas': {'vm': 'vermelha', 'b': 'Branca'}}

In [52]:
# Deletando uma chave com pop()

dicionario.pop(2)
print("Eliminando uma chave com pop(): ")
print(dicionario)

Eliminando uma chave com pop():
{1: 'IGTI', 'brasil': {'v': 'Verde', 'a': 'Azul', 'am': 'Amarelo'}, 'minas': {'vm': 'vermelha', 'b': 'Branca'}}

In [53]:
# Deletando um item arbitrário

dicionario.popitem()
print("Deletando um valor arbitrário: ")
print(dicionario)

Deletando um valor arbitrário:
{1: 'IGTI', 'brasil': {'v': 'Verde', 'a': 'Azul', 'am': 'Amarelo'}}

In [54]:
# Deletando um dicionário inteiro

dicionario.clear()
print("Deletando todo o dicionário: ")
print(dicionario)

Deletando todo o dicionário:
{}

Comando de entrada de dados

In [55]:
nome = input("Entre com seu nome: ")
print("Meu nome é: ", nome)

Entre com seu nome: Petrônio
Meu nome é:  Petrônio

In [56]:
# Tipo de dados armazenados

type(nome)

str

In [58]:
idade = input("Entre com sua idade: ")
print("Sua idade é: ", idade, "anos")

Entre com sua idade: 38
Sua idade é:  38 anos

In [59]:
type(idade)

str

Formatando as saídas

In [60]:
# Realizando a entrada de dados

base = float(input('Entre com um valor para a base: '))
expoente = float(input('Entre com um valor para ser o expoente: '))
resultado = base ** expoente

Entre com um valor para a base: 10
Entre com um valor para ser o expoente: 2

In [61]:
print(str(base)+"^"+str(expoente),"=",resultado)

10.0^2.0 = 100.0

In [62]:
print("%1.2f ^%1.2f = %1.4f " %(base, expoente, resultado ))

10.00 ^2.00 = 100.0000

In [63]:
print(" %2d, %2x, %3o, %2.2f, %2.2e " %(100, 100, 100, 11.1245, 11.24567 ))

 100, 64, 144, 11.12, 1.12e+01